body{
background-color: rgb(154, 201, 248);
text-align:center ;
}

p {
    background-color: rgb(211, 167, 252);
}

h1{
    background-color: rgb(7, 64, 251);
}


.um{
    background-color: rgb(130, 130, 228);
}

.dois {
    width: 50%;
}